* { margin:0; padding:0; }

.loader {
    height:100%;
    width:100%;
    z-index: 97;
    position: fixed;
    top:0;
    left:0;
    display:flex;
    flex-direction: column;
}

.curtain-one {
    background-color:rgb(209, 45, 16);
    flex:1;
    border-bottom: rgb(201, 196, 196) solid 1px;
}

.curtain-two {
    background-color:rgb(230, 118, 44);
    flex:1;
}

.img-loader {
    position:fixed;
    top:0%;
    left:0;
    width: 100%;
    height: 100%;
    background-color:rgb(12, 11, 11);
    z-index: 98;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-loader {
    opacity:1;
    animation: remover 3s forwards; 
}

@keyframes remover {
    80% {
        opacity:1;
    }

    100% {
        opacity:0;
        display: none;
    }
}

.plano {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: 97;
    display:flex;
    padding:15px;
    box-sizing: border-box;
}

.social {
    font-family: 'Poppins', sans-serif;
    font-size:15px;
    writing-mode:tb;
    text-orientation: sideways-right;
    padding-right:3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social a {
    color:rgb(255, 255, 255);
    text-decoration:none;
    padding:15px;
}

.banner {
    height:100%;
    width:20%;
    padding:2vw;
    box-sizing: border-box;;
    position:relative;
    display: flex;
    flex-direction: column;
}

.content {
    width:70%;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    position:relative;
    padding:.5vw;
}

.content .submenu {
    padding-top:2vw;
    width:100%;
    height:10px;
    color:rgb(172, 172, 172);
    position:relative;
    box-sizing: border-box;
}

.content .submenu a{
    width:10em;
    float:right;
    margin-left:10px;
    cursor: pointer;
}

.content .submenu a span {
    font-family: 'Oswald', sans-serif;
    font-size:13px;
    font-weight: extra-light;
    float:right;
}

.banner-container {
    height: 15%;
    box-sizing: border-box;
    position: relative;
}

.bottom-banner {
    width:88px;
    margin-top: auto;
    display: inline-block;
    color:rgb(240, 226, 226);
    padding:10px;
    padding-right: 0;
    padding-left:0;
    font-family: 'Roboto', sans-serif;
    font-size:10px;
    overflow:hidden;
}

.bottom-banner .timeline{
    width: 1000px;
}

.bottom-counter {
    width:10%;
    position:absolute;
    height:10%;
    bottom:0;
    background-color:rgb(148, 148, 148);
}
 
.icon {
    
}

.interactive-button{
    display:flex;
    flex-direction: row;
}

.interactive-button div {
    width:100%;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    cursor: pointer;
}

.interactive-button div a  {
    background-color:rgb(218, 38, 38);
    width:100%;
    height:1px;
    
}


.interactive-button div a:active {
    height:5px;
}


.indexation {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.main-crumb {
    height:100%;

    width:100%;
    background-color:red;
    display: flex;
    flex-direction: column;
}

@media (orientation: portrait) {
    .content {
        width:70%;
        display:flex;
        flex-direction: row;
        box-sizing: border-box;
        position:relative;
        padding:.5vw;
    }
}